body {
    background-color: #f8f9fa;
  }
  header{
  background-color: rgb(123, 136, 129);
  justify-content: center;
  display: flex;
  color: rgb(237, 237, 239);
  }
  .container {
    margin-top: 50px;
  }
  .card {
    padding: 20px;
    border-radius: 15px;
    background-color: #eee;
  }
  .form-label {
    font-weight: bold;
    color: #6c757d;
  }
  .btn-blue {
    background-color: rgb(123, 136, 129);
    color: white;
  }
  .btn-blue:hover {
    background-color: #5d7c9f;
  }
  footer {
    background-color: rgb(123, 136, 129);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }